.root {
	.index {
		font-size: 25px;
		color: #1a237e;
		@media (max-width: 767px) {
			font-size: 15px;
		}
	}
	.title {
		font-size: 20px;
		position: static;
	}
	.title,
	.text {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;

		@media (max-width: 767px) {
			font-size: 10px;
		}
	}

	.text span {
		@media (max-width: 767px) {
			font-size: 10px;
		}
	}

	.title {
		-webkit-line-clamp: 1;
	}
	.img {
		align-self: flex-end;
		min-width: 200px;
		min-height: 200px;
		max-width: 200px;
		max-height: 200px;
		object-fit: cover;
		background-color: #e8e8e8;

		@media (max-width: 767px) {
			min-width: 50px;
			min-height: 50px;
			max-width: 50px;
			max-height: 50px;
		}
	}

	.link {
		max-width: fit-content;
		.button {
			@media (max-width: 767px) {
				font-size: 10px;
				padding: 2px;
			}
		}
	}
}
