.root {
	.index {
		font-size: 25px;
	}
	.title {
		font-size: 20px;
		margin-right: auto;
	}
	.title,
	.text {
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		max-width: 50%;
	}
}
